@{
    ViewData["Title"] = "Creador";
}
@model dynamic

@if (Model != null)
{
    <body id="cuerpo">
        <div style="width: 100%; height: 600px; overflow: hidden;">
            <img src="@Url.Action("File", "Home", new { id = Model.Creador.ImageBackground })"
                 alt="Responsive image"
                 style="width: 100%; height: auto; object-fit: cover;">
        </div>
        <div id="publiTitulo">
            <img src="https://www.solbyte.com/blog/wp-content/uploads/iot.jpg"
                 alt="Creador" class="profile-image">
            @if (Model.EsPropietario)
            {
                <div class="pt-3 d-flex justify-content-center">
                    <button id="modifyDataButton" class="subscribe-button text-center"
                            data-bs-toggle="modal" data-bs-target="#modal">
                        Modificar Datos
                    </button>
                    <script src="~/js/site.js"></script>
                </div>
            }
            <h1 class="pt-2">@Model.Creador.nombrePagina</h1>
            <p id="shortDes" class="fs-5">@Model.Creador.ShortDescripcion</p>
        </div>

        <div id="mebresias" class="row container-fluid text-center">
            @if (Model.EsPropietario)
            {
                <div class="pt-3 d-flex justify-content-center">
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#membershipModal">
                        Editar Membresía
                    </button>

                    <button class="btn btn-primary ms-3" data-bs-toggle="modal"
                            data-bs-target="#createMembershipModal">
                        Crear Membresía
                    </button>
                    <script src="~/js/site.js"></script>
                </div>
            }

            <div class="col-md-4">
                <div class="card">
                    <h4 class="pt-5">Nivel 1</h4>
                    <p class="pt-5">Descripción del nivel 1.</p>
                    <button class="subscribe-button mt-5">Suscribirse</button>
                </div>
            </div>
        </div>

        <div class="nav nav-tabs container" id="myTab" role="tablist">
            <button class="nav-link active" id="publicaciones-tab" data-bs-toggle="tab" data-bs-target="#publicaciones"
                    type="button" role="tab" aria-controls="publicaciones" aria-selected="true">
                Publicaciones
            </button>
            <button class="nav-link" id="acercaDe-tab" data-bs-toggle="tab" data-bs-target="#acercaDe"
                    type="button" role="tab" aria-controls="acercaDe" aria-selected="false">
                Acerca de
            </button>
        </div>

        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade" id="acercaDe" role="tabpanel" aria-labelledby="acercaDe-tab">
                <div id="publiTitulo" class="mb-5">
                    <div>
                        <h1> Acerca de</h1>
                        <p id="acercaDe" class="fs-5">@Model.Creador.AcercaDe</p>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade show active" id="publicaciones" role="tabpanel" aria-labelledby="publicaciones-tab">
                <h2 id="publiTitulo" class="mb-5 mt-5">Contenido Exclusivo</h2>
                @if (Model.EsPropietario)
                {
                    <div class="d-flex justify-content-center">
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#crearPublicacion">
                            Crear publicacion
                        </button>

                        <script src="~/js/site.js"></script>
                    </div>
                }
                @if (@Model.Publicaciones != null)
                {
                    <div class="container">
                        <div id="cuerpoContenido" class="row">
                            @foreach (var Publicacion in @Model.Publicaciones)
                            {
                                <div id="contenido" class="col-md-12 offset-md-12">
                                    <div style="background-color:#1A1E23" class="product-card mb-5">
                                        @if (Publicacion.Adjuntos != null && Publicacion.Adjuntos.Count > 0)
                                        {
                                            <img src="@Url.Action("File", "Home", new { id = Publicacion.Adjuntos[0] })" class="img-fluid rounded imagen-publicacion" alt="Producto">
                                        }
                                        <h2>@Publicacion.Titulo</h2>
                                        <p>@Publicacion.Contenido</p>
                                        <p>
                                            <a href="@Url.Action("Index", "Publicacion", new { id = Publicacion.Id })" class="btn btn-primary">Ver Publicacion</a>
                                        </p>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                }
            </div>
        </div>


        <div id="modal" class="modal fade" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Modificar Datos</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form id="modifyDataForm" asp-controller="Creador" asp-action="EditarCreador" method="post" enctype="multipart/form-data">
                            <div class="mb-3">
                                <label for="nombrePagina" class="form-label">Nombre de la Página</label>
                                <textarea type="text" class="form-control" id="nombrePagina" name="nombrePagina" required>@Model.Creador.nombrePagina</textarea>
                            </div>
                            <div class="mb-3">
                                <label for="shortDescripcion" class="form-label">Descripción Corta</label>
                                <textarea class="form-control" id="shortDescripcion" name="shortDescripcion" rows="3">@Model.Creador.ShortDescripcion</textarea>
                            </div>
                            <div class="mb-3">
                                <label for="acercaDe" class="form-label">Acerca De</label>
                                <textarea class="form-control" id="AcercaDe" name="acercaDe" rows="3">@Model.Creador.AcercaDe</textarea>
                            </div>
                            <div class="mb-3">
                                <label for="nuevaImagen" class="form-label">Subir Imagen</label>
                                <input type="file" class="form-control" id="nuevaImagen" name="nuevaImagen">
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                                <button type="submit" form="modifyDataForm" class="btn btn-primary">Guardar Cambios</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>




        <div id="membershipModal" class="modal fade" tabindex="-1" aria-labelledby="membershipModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="membershipModalLabel">Editar Membresía</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form id="editMembershipForm" asp-controller="" asp-action="" method="post">
                            <div class="form-group">
                                <label for="membershipSelect">Seleccionar Membresía</label>
                                <select class="form-control" id="membershipSelect" name="membershipId">
                                    <option>Nombre de las membresias</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="membershipName">Nombre de la Membresía</label>
                                <input type="text" class="form-control" id="membershipName" name="nombre" />
                            </div>
                            <div class="form-group">
                                <label for="membershipDescription">Descripción</label>
                                <textarea class="form-control" id="membershipDescription" name="descripcion"></textarea>
                            </div>
                            <div class="form-group">
                                <label for="membershipPrice">Precio</label>
                                <input type="number" class="form-control" id="membershipPrice" name="precio" />
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                        <button type="submit" form="editMembershipForm" class="btn btn-primary">Guardar Cambios</button>
                    </div>
                </div>
            </div>
        </div>


        <div class="modal fade" id="createMembershipModal" tabindex="-1" aria-labelledby="createMembershipModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="createMembershipModalLabel">Crear Nueva Membresía</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form id="createMembershipForm" asp-controller="" asp-action="" method="post">
                            <div class="modal-footer">
                                <div class="form-group">
                                    <label for="membershipName">Nombre de la Membresía</label>
                                    <input type="text" class="form-control" id="membershipName" name="nombre" />
                                </div>
                                <div class="form-group">
                                    <label for="membershipDescription">Descripción</label>
                                    <textarea class="form-control" id="membershipDescription" name="descripcion"></textarea>
                                </div>
                                <div class="form-group">
                                    <label for="membershipPrice">Precio</label>
                                    <input type="number" class="form-control" id="membershipPrice" name="precio" />
                                </div>
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" aria-label="Atrás">Atrás</button>
                                <button type="submit" class="btn btn-primary">Crear</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div id="crearPublicacion" class="modal fade" tabindex="-1" aria-labelledby="modalPublicacion" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modalPublicacionLabel">Crear Publicación</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form id="crearPublicacionForm" asp-controller="Creador" asp-action="CrearPublicacion" method="post" enctype="multipart/form-data">
                            <div class="form-group">
                                <label for="Titulo" class="control-label">Titulo</label>
                                <input name="titulo" id="Titulo" class="form-control" required />
                                <span for="titulo" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label for="Contenido" class="control-label">Contenido</label>
                                <textarea name="contenido" id="Contenido" class="form-control" rows="4" required></textarea>
                                <span for="contenido" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label for="Archivos" class="control-label">Archivos</label>
                                <input type="file" name="archivos" id="Archivos" class="form-control-file" multiple />
                                <span for="archivos" class="text-danger"></span>
                            </div>
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                            <button type="submit" form="crearPublicacionForm" class="btn btn-primary">Crear</button>
                        </form>
                    </div>
                </div>
            </div>
    </body>
    <script src="~/js/site.js"></script>
}
else
{
    <div class="alert alert-danger text-center" role="alert">
        <h1 id="error">Error 404: Página no encontrada</h1>
        <p>La página que estás buscando no existe.</p>
    </div>
}